<div class="home-content-container">
  <h1 class="big-text-white title">Învață japoneză ușor<br> cu metode adaptate<br> nevoilor tale!</h1>
  <p class="medium-text-white">Cursuri online de limba japoneză<br>
    Cursuri pentru orice obiectiv: călătorit, examene<br>
    certificare, conversațional <br>
    Japoneza poate fi învățată ușor și fără frustrări </p>
</div>

<div class="schedule-button-container">
  <button class="schedule-button" (click)="redirectToPage('/contact')">Programează o întâlnire informativă</button>
</div>

<div class="text-container">
  <h1 class="big-text">Japoneza e grea? Nu alaturi de mine!</h1>
  <p class="medium-text">Cum lucrez și ce vei învăța:</p>
</div>

<div class="cards-container">
  <div class="card">
    <img src="../../assets/grammer.png" alt="communication" class="card-image">
    <div class="card-content">
      <h2 class="card-title">Gramatică și vocabular</h2>
      <p class="card-text">Gramatica și vocabularul sunt de nedespărțit, una fără cealaltă nu prea se poate. Îmi creez
        propriile materiale pentru a te ajuta să-ți atingi obiectivele rapid, să acumulezi cu ușurință vocabular pe care
        să-l folosești. Vei beneficia de materiale personalizate în funcție de nevoile tale, iar vocabularul include
        cuvinte și expresii esențiale pentru călătoria ta în Japonia. Vom trece de la expresii de bază, la vocabular de
        zi cu zi pe care vei ști să-l utilizezi. Partea cea mai bună? Nu vei învăța limba japoneză prin intermediul
        materialelor în limba engleza! </p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/writing.png" alt="" class="card-image">
    <div class="card-content">
      <h2 class="card-title">Scriere</h2>
      <p class="card-text">Scrierea este, poate, cea mai intimidantă parte a limbii japoneze, nu-i așa? Cu mine vei
        învăța
        hiragana în primele 3 săptămâni! Întâlnindu-mă de-a lungul timpului cu foarte multe temeri legate de scrisul în
        limba japoneză, am dezvoltat o metodă prin care învățatul celor trei sisteme de scriere devine floare la ureche.
        Vei învăța hiragana și katakana, silabarele ce alcătuiesc baza limbii japoneze, iar mai apoi vom parcurge
        împreună
        faimoșii kanji, sau caracterele chinezesti, care sunt chiar ușoare dacă ai o metodă bună prin care să le înveți.
      </p>
    </div>
  </div>
  <div class="card">
    <img src="../../assets/comunicare.png" alt="" class="card-image">
    <div class="card-content">
      <h2 class="card-title">Comunicare</h2>
      <p class="card-text">Cursurile mele se concentrează pe comunicare, dialog, interacțiune, deoarece îmi doresc să
        ajungi să te poți exprima în limba japoneză, cel mai important scop al invățării oricărei limbi străine. Degeaba
        știi gramatică și vocabular dacă nu le poți folosi, nu? Te voi ajuta să pronunți corect, să-ți depășești frica
        de
        a vorbi, astfel că de la primele lecții vei ajunge să vorbești în limba japoneză. În plus, vei avea suport
        constant, mă poți intreba oricând orice nealămurire sau problemă ai.</p>
    </div>
  </div>
</div>

<div class="courses-button-container">
  <button class="courses-button" (click)="redirectToPage('/cursuri')">Cursuri</button>
</div>
