<div class="courses-page">
  <div class="texts-part">
    <h1 class="big-text">Alege pachetul potrivit pentru tine</h1>
    <h2>Descoperă cursul perfect pentru obiectivele tale! Te pot ajuta indiferent de nivel, fie că vrei să înveți de la
      zero sau să-ți perfecționezi cunoștințele, să obții certificare sau doar să călătorești.</h2>
    <br> <br>
    <h1>Cursuri online de limba japoneză:</h1>
  </div>
  <div class="cards-container">
    <div class="card">
      <h2>Curs individual</h2>
      <ul>
        <li>Personalizat pentru nevoile și scopurile tale</li>
        <li> Durata: 90 min </li>
        <li>Frecvența: de câte ori pe săptămână vrei </li>
        <li>Preț: 120 lei/ședință </li>
      </ul>
    </div>
    <div class="card">
      <h2>Pachet lunar</h2>
      <ul>
        <li>Pachet de 4 ședințe </li>
        <li>Durata: 90 min</li>
        <li>Frecvența: 1 ședință pe săptămână </li>
        <li>Preț: 400 lei</li>
      </ul>
    </div>
    <div class="card">
      <h2>De la 0 la N5</h2>
      <ul>
        <li>Curs destinat începătorilor care-și doresc să ajungă la primul nivel lingvistic </li>
        <li> Perioada:12 săptămâni </li>
        <li> Durata: 90 min </li>
        <li>Frecvența: 2 ședințe pe săptămână </li>
        <li>Preț: 2400 lei </li>
        <li>Posibilitate de plată în 2 rate </li>
      </ul>
    </div>
    <div class="card">
      <h2>Pregătire JLPT</h2>
      <ul>
        <li>Curs destinat pregătirii pentru examenul</li>
        <li> Nivele: N5-N3 </li>
        <li> Durata: 120 min </li>
        <li>Preț: 150
          lei/ședință </li>
      </ul>
    </div>
    <div class="card">
      <h2>Pachet 12 ședințe</h2>
      <ul>
        <li> Pachet avantajos cu 12 ședințe</li>
        <li> Durata: 90 min </li>
        <li>Frecvența: 1 ședință pe săptămână</li>
        <li>Preț: 1100 lei </li>
      </ul>
    </div>
  </div>
</div>
