<div class="about-page-container">
  <div class="about-me-image-container">
    <img class="about-me-image" src="./assets/20250104_173719-removebg-preview.png" alt="profesor japoneza">
    <h1 class="japan-text">🌸Sensei Gabriela Jeler</h1>
  </div>
  <div class="about-me-text">
    <h1 class="bold">Despre mine</h1>
    <p class="about-paragraph">🌸Sunt Gabriela Jeler, profesor cu peste 4 ani de experiență de predare și peste 9 ani de
      experiență cu
      limba japoneză. <br> 🌸Fascinația mea pentru Asia începe încă din copilărie, când mă uitam cu părinții mei la
      serialele
      coreene ce erau pe TVR1. Lumea prezentată acolo mi-a stârnit curiozitatea, trecând prin cultura coreeană, apoi
      prin cea chineză, pentru a mă opri într-un final la Japonia. Primul contact cu Japonia și cu limba japoneză l-am
      avut, ca mulți alții, prin intermediul anime-urilor și am dezvoltat o pasiune puternică pentru tot ceea ce
      înseamnă Japonia: mâncare, cultură, literatură (Haruki Murakami este autorul meu preferat) și, nu în ultimul
      rând,
      limba. <br> 🌸După niște tentative eșuate de a învăța singură, am urmat un curs de limba japoneză care mi-a hrănit
      pasiunea, urmând calea niponă și la facultate, absolvind în 2022 Facultatea de Litere din cadrul UBB,
      specializarea limba și literatura japoneză-franceză. În 2021, am obținut o bursă de studiu în Japonia și am
      urmat,
      timp de un semestru, cursurile Facultății de Drept și Litere de la Ehime University. Am urmat și cursurile unui
      master (în franceză, de data asta, pentru că mă aflu la intersecția a două lumi foarte diferite și ador să
      predau
      franceza așa cum ador să predau și japoneza) și am absolvit și nivelul 2 al modulului pedagogic. <br> 🌸Fostă
      karateka,
      sportul este printre hobby-urile mele principale, alături de literatura și de pasiunea pentru predat și modul în
      care o limbă străină poate fi predată și altfel, nu doar cu manuale plictisitoare și metode prea puțin
      interactive.</p>
  </div>
</div>
