<div id="footer-container">
  <img id="footer-logo" src="./assets/logo.png" alt="japanese-logo">
  <ul>
    <li id="politica-text">Politica de confidentialitate</li>
    <li>Contact <br>0747 753 454</li>
    <li><a class="instagram-text" href="https://www.instagram.com/japanesewithgabriela/">Instagram</a> <br>
      <a class="tiktok-text" href="https://www.tiktok.com/@japanesewithgabriela">TikTok</a> <br>
      <a class="facebook-text" href="https://www.facebook.com/profile.php?id=61571867511686">Facebook</a>
    </li>
  </ul>
</div>
