<div class="contact-content-container">
  <div class="contact-content">
    <h1 class="big-text">Contact</h1>
    <p class="medium-text">🌸Contacteză-mă astăzi pentru a descoperi cum poți învăța limba japoneză rapid și ușor!<br>
      <br>Telefon: 0747 753 454 <br>
      🌸Sensei Gabriela-Manuela Jeler
      <br> <br>
      🌸Urmăreste-mă si pe rețele <br>
      <a class="instagram-text" href="https://www.instagram.com/japanesewithgabriela/">Instagram</a> <br>
      <a class="tiktok-text" href="https://www.tiktok.com/@japanesewithgabriela">TikTok</a> <br>
      <a class="facebook-text" href="https://www.facebook.com/profile.php?id=61571867511686">Facebook</a> <br><br>
      🌸Hai in comunitatea noastră!<br>
    </p>
  </div>
</div>
